uniprot_sprot.dat
#2023_05_version

type2.dat
type2.fasta
#dataset1

ft269.dat
ft269.fasta
#dataset2
#10 proteins

ds1_TMD_uniprot.txt
ds2_TMD_uniprot.txt
ds1_TMD_phobius.txt
ds2_TMD_phobius.txt
TMD_deepTMHMM.txt
TMD_originalMethod.txt
